*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    font-family: 'Kalam', cursive;
    background-image: url(./images/bg-img.jpg);
    background-position: bottom;
    color:white;
    
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.js{
    display: flex;
    justify-content: center;
    align-items: center;
}
.github {
    display: flex;
    justify-content: center;
    align-items: center;
}
.js div img{
    padding-right: 1rem;
    position: relative;
    top:0.2rem;
}
.github div img{
    margin-right: 1rem;
    position: relative;
    top:0.15rem;
}
.top a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.top a:hover{
    color: #4E3725;
}
main{
    display: grid;
    place-items: center;
}
.content{
    margin-bottom: 12rem;
    font-size: 1.5rem;
    text-align: center;
}
.content h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
}
.content .input input{
    width: 7rem;
    height: 1.8rem;
    border: none;
    border-radius: 0.6rem;
    outline: 0.01rem solid white;
    background-color: inherit;
    color:white;
    opacity: 0.8;
    text-align: center;
}
.content .input input::placeholder {
    color: white;
}
.input input:focus{
    background-color: #4E3725;
}

footer{
    display: grid;
    place-items: center;
}
@media (max-width: 350px) {
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    
}